<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{project.name}}</h1>
            <p><em>{{project.info}}</em>
            </p>
            <a href="/editProject/{{project._id}}" class="btn">Edit Project</a>
        </div>

        <div class="col-lg-9">
  
            <div class="section" ng-repeat="stage in project.stages" ng-if="stage.isActive">
            
            
            
            </div>
            
            
        </div>
    </div>
</div>
